body {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.card {
    background: #0173BC;
    border: none;
    border-radius: 12px !important;
    padding: 16px;
    box-shadow: 0px 4px 20px 0px rgba(231, 231, 231, 0.25) !important;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #0173BC;
}

.form-control {
    border-color: #DFE1EC;
}

.bg-vox-blue {
    background: #0173BC;
    color: #FFFFFF;
}

.bg-vox-blue-alt {
    border: 1px dotted #0173BC;
    background: #EAF7FF;
    box-sizing: border-box;
}

.text-32 {
    font-size: 32px;
}

.text-16 {
    font-size: 16px;
}

.text-12 {
    font-size: 12px;
}

.light-blue {
    color: #0173BC;
}

.dark-blue {
    color: #0F5684;
}

.text-bold{
    font-weight: bold;
}

input,
textarea {
    background: none;
    font-size: 14px;
    padding: 10px 10px 10px 15px;
    display: block;
    width: 100%;
    height: 72px;
    border: none;
    border-radius: 2px;
    border: 1px solid #E4E4E4;
    background: #FBFBFB;
}

input:hover {
    border: 1px solid #0173BC;
    color: #0173BC;
}

input:hover ~ label {
    color: #0173BC !important;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #0173BC;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #0173BC;
    left: 11px;
}

input:not(:focus) ~ label,
textarea:not(:focus) ~ label {
    color: #b5b4bb;
}

label {
    color: #727176;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 22px;
    transition: 150ms ease all;
    background-color: #FBFBFB;
    padding: 0 2px;
}

.main_div {
    padding-left: 0; 
    padding-right: 0;
}

.button-submit {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 32px;
    gap: 10px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    justify-content: center;
    background: #0173BC;
}

.button-submit:hover{
    background: #01609b;
}

.footer {
    color: #0173BC;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.footer-link {
    color: #0173BC;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px; 
}

.footer-link i {
    font-size: 16px; 
}

@media (max-width: 420px) {
    .text-32 {
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    .text-12 {
        font-size: 9px;
    }
}

.align-bottom {
    display: flex;
    align-items: flex-end;
    height: 100%;
}